@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #161616;
  --heading-color: #fff;
  --text-color: rgb(230, 230, 230);
  --text-color2: rgb(195, 194, 194);
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 80rem;
  font-size: 1rem;
  margin: 0 auto;
  color: #333;
  background: var(--background-color);
  align-items: center;
  justify-content: center;
}

/*! Nav Bar*/
.nav {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

}

.nav .container {
  	align-items: center;
    width: 80rem;
    margin: 0 auto;
  	display: flex;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  	justify-content: space-between;
  	padding: 1.25rem 0;
  	transition: all 0.3s ease-in-out;
}

.nav ul {
  	align-items: center;
  	display: flex;
  	justify-content: center;
  	list-style-type: none;
}

.nav a {
  	color: var(--heading-color);
  	padding: 7px 15px;
  	text-decoration: none;
  	transition: all 0.3s ease-in-out;
}

.nav ul li a {
  text-decoration: none;
  color: var(--heading-color);
  text-align: center;
  font-weight: 600;
}

.nav ul li a:hover {
  color: #45a0f5;
}

.nav.active a {
  	color: #000000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

@media screen and (max-width: 48rem) {
  nav {
    margin: 0 0.5rem;
    width: 100%;
    max-width: 80rem;
    align-items: center;
  }
}

@media screen and (max-width: 56rem) {
  nav {
    width: 8orem;
    max-width: 80rem;
    align-items: center;
  }  
}

@media screen and (max-width: 24rem) {
  .nav {
    width: 80rem;
    max-width: 80rem;
    align-items: center;
  } 
  .nav .container {
    flex-direction: row;
    justify-content: space-between;
    margin: 1.25rem 0;
    align-items: center;
  }

  

  .nav .container .drawer svg {
    display: block;
  } 
}

#menu-toggle {
  display: none;
}

/** <---------------------------------------------------------> */

/*! Hero Section */
#hero-sect {
  height: 100vh;
  width: 80rem;
  margin: 0 auto;
  justify-content: center;
}

#hero-sect .hero {
  background-color: var(--background-color);
  width: 80rem;
  margin: 4rem auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-sect .hero .down-arrow {
  stroke: var(--heading-color);
  position: absolute;
  bottom: 3em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}

.down-arrow path {
  fill: var(--heading-color);
}

#hero-sect .hero .devPic {
  height: 68vh;
  margin: 0rem 0;
}

.devPic img {
  margin: 6rem 0;
  width: 35vw;
}

#hero-sect .hero .devInfo {
  display: flex;
  flex-direction: column;
}

#hero-sect .hero .devInfo .about {
  width: 40vw;
  font-size: 2.25rem;
  font-family: Poppins;
  color: var(--heading-color);
  font-weight: 600;
}

#hero-sect .hero .devInfo .moreAbout {
  width: 35vw;
  margin: 2rem 0;
  font-size: 1.25rem;
  font-family: Poppins;
  color: var(--text-color2);
  line-clamp: 3;
}

.social-account {
  margin-left: 6rem;
  margin-top: 66px;
  list-style: none;
  display: flex;
}

.social-account li {
  margin-right: 1rem;
}

/*? About Section */

#aboutSection {
  display: flex;
}

.about-text {
  margin: 2rem 0;
  width: 20vw;
  font-size: 1.7rem;
  font-family: Poppins;
  /* color: #4a4b4d; */
  color: var(--heading-color);
}

.description {
  margin: 2rem 0;
  width: 30vw;
  font-size: 1.25rem;
  font-family: Poppins;
  color: var(--text-color2);
}

/** Misc Skill Section */
#misc-skills {
  /* display: flex;
  /* height: 100vh; */
  /* margin-bottom: 4rem;
  margin-top: 6rem; */ */
  /* background-color: #ff1ba4;
  color: rgb(85, 8, 8); */
}

.misc-skills-text {
  margin: 2rem 0;
  width: 20vw;
  font-size: 1.7rem;
  font-family: Poppins;
  color: var(--heading-color);
} 


/** Skills Section */
#skills {
  display: flex;
  height: 100vh;
  margin-bottom: 4rem;
  margin-top: 6rem;
  background-color: #ff1ba4;
  color: rgb(85, 8, 8);
}

.skills-left {
  margin-top: 6rem;
  margin-left: 6rem;
  width: 20vw;
  font-size: 1.7rem;
  font-family: Poppins;
  /* color: #4a4b4d; */
  color: var(--heading-color);
  display: flex;
  flex-direction: column;
}

.two {
  margin-top: 4.6rem;
  margin-bottom: 3rem;
  width: 30vw;
  font-size: 5.25rem;
  font-family: Poppins;
  color: #a5e6ef;
}

.skills-right {
  margin-top: 6rem;
  margin-left: 3rem;
  width: 50vw;
  font-size: 1.2rem;
  font-family: Poppins;
}

.text {
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  font-size: 1.7rem;
  font-family: Poppins;
  color: --heading-text;
}

.text- {
  font-weight: 600;
  color: rgb(241, 238, 238);
}

.two-grids {
  display: flex;
  width: 60vw;
}

.grid-one {
  z-index: 1;
  border-radius: 1rem;
  background-color: #6872ff;
  color: --heading-text;
  width: 150px;
  height: 180px;
  padding: 2em;
  margin-left: 3rem;
  /* margin-top: 6rem; */
}

.grid-two {
  z-index: 1;
  border-radius: 1rem;
  background-color: #6872ff;
  color: --heading-text;
  width: 150px;
  height: 180px;
  padding: 2em;
  margin-left: 3rem;
}

.g-title {
  width: 150px;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: 600;
}

/** Footer */
footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-family: Poppins;
  position: relative;
  color: var(--heading-color);
  background-color: var(--background-color);
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
